#body{
    font-size: 30pt;
    background-image: url(/red-heart-love-picture-9803-1428628419.jpg)
}
#co {   
    font-size: 50pt;
    background-color:palevioletred;
}
#khong{
    font-size: 50pt;
    background-color: aqua;
}
div{
    text-align: center;
}
